In [73]:
import pandas as pd


df = pd.read_csv("metrics.csv")

# Display the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   group                   5000 non-null   object
 1   type                    5000 non-null   object
 2   pixel_accuracy          5000 non-null   float64
 3   iou                     5000 non-null   float64
 4   dice                    5000 non-null   float64
 5   nsd                     4998 non-null   float64
 6   eroded_pixel_accuracy   5000 non-null   float64
 7   eroded_iou              5000 non-null   float64
 8   eroded_dice             5000 non-null   float64
 9   eroded_nsd              3169 non-null   float64
 10  dilated_pixel_accuracy  5000 non-null   float64
 11  dilated_iou             5000 non-null   float64
 12  dilated_dice            5000 non-null   float64
 13  dilated_nsd             3172 non-null   float64
 14  opened_pixel_accuracy   5000 non-null   float64
 15  opened_iou              5000 non-null   float64
 16  opened_dice             5000 non-null   float64
 17  opened_nsd              3170 non-null   float64
 18  closed_pixel_accuracy   5000 non-null   float64
 19  closed_iou              5000 non-null   float64
 20  closed_dice             5000 non-null   float64
 21  closed_nsd              3172 non-null   float64
 22  time                    5000 non-null   float64
 23  image_name              5000 non-null   object
dtypes: float64(21), object(3)
memory usage: 937.6+ KB

In [7]:
print(df.head(5))

     group    type  pixel_accuracy       iou      dice       nsd  \
0  group_2  manual        0.896872  0.774584  0.872975  0.897516
1  group_2  manual        0.916192  0.460209  0.630333  0.736391
2  group_2  manual        0.892232  0.714830  0.833704  0.862381
3  group_2  manual        0.876864  0.535767  0.697719  0.778443
4  group_2  manual        0.949328  0.777840  0.875039  0.893461

   eroded_pixel_accuracy  eroded_iou  eroded_dice  eroded_nsd  ...  \
0               0.866008    0.744922     0.853817    0.001561  ...
1               0.924684    0.488720     0.656564         NaN  ...
2               0.901560    0.741187     0.851359    0.000685  ...
3               0.904441    0.601574     0.751228    0.000000  ...
4               0.955408    0.811066     0.895678    0.000396  ...

   opened_pixel_accuracy  opened_iou  opened_dice  opened_nsd  \
0               0.877416    0.765911     0.867440    0.002169
1               0.917880    0.466634     0.636333         NaN
2               0.892760    0.723453     0.839539    0.000598
3               0.887505    0.561472     0.719158    0.000000
4               0.949152    0.787540     0.881144    0.000506

   closed_pixel_accuracy  closed_iou  closed_dice  closed_nsd     time  \
0               0.887952    0.766541     0.867844    0.007491  604.131
1               0.909148    0.465876     0.635628         NaN  604.131
2               0.878216    0.722874     0.839149    0.000713  604.131
3               0.858790    0.560127     0.718053    0.000455  604.131
4               0.938788    0.786735     0.880640    0.001599  604.131

                                 image_name
0  251a9e93-3216-4dbd-bce4-d76c3daf6625.jpg
1  e774b6de-2915-44eb-a692-ac139086fd2c.jpg
2  74289923-93b1-4606-837d-ab7c79b8d18b.jpg
3  888da860-558d-487f-aeb6-bc114610a298.jpg
4  310c8415-5b8c-49ab-87ed-e1fef6d15d58.jpg

[5 rows x 24 columns]

In [58]:
# Calculate and display summary statistics
overall_stats = df.groupby('type')[['nsd', 'iou', 'dice', 'time']].agg(['mean', 'std', 'count'])
group_stats = df.groupby(['type', 'group'])[['nsd', 'iou', 'dice', 'time']].agg(['mean', 'std'])

In [70]:
def format_group_stats(stats_df):
    # Create a styled version of the statistics
    styled = stats_df.style\
        .format({
            ('nsd', 'mean'): '{:.2f}', 
            ('nsd', 'std'): '{:.2f}',
            ('iou', 'mean'): '{:.2f}', 
            ('iou', 'std'): '{:.2f}',
            ('dice', 'mean'): '{:.2f}', 
            ('dice', 'std'): '{:.2f}',
            ('time', 'mean'): '{:.0f}', 
            ('time', 'std'): '{:.0f}'
        })\
        .background_gradient(
            subset=pd.IndexSlice[:, [('nsd', 'mean'), ('iou', 'mean'), ('dice', 'mean'), ('time', 'mean')]],
            cmap='RdYlGn'
        )\
        .set_table_styles([
            {'selector': 'th', 'props': [('text-align', 'center')]},
            {'selector': 'td', 'props': [('text-align', 'center')]}
        ])
    
    return styled

# Display the formatted statistics
display(format_group_stats(group_stats))
display(format_group_stats(overall_stats))

As seen in the op_morfologicas.ipynb, the best operation to use on the manual type data is the erosion.

In [76]:
# Calculate mean and std for 'eroded_nsd', 'eroded_iou', and 'eroded_dice' where type is 'manual'
eroded_stats = df[df['type'] == 'manual'][['eroded_nsd', 'eroded_iou', 'eroded_dice']].agg(['mean', 'std'])

# Update overall_stats with the calculated values
for metric in ['nsd', 'iou', 'dice']:
    overall_stats.loc['manual', (metric, 'mean')] = eroded_stats.loc['mean', f'eroded_{metric}']
    overall_stats.loc['manual', (metric, 'std')] = eroded_stats.loc['std', f'eroded_{metric}']

display(format_group_stats(overall_stats))